/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * HadriansWall implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * hadrianswall.css
 *
 * HadriansWall stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (hadrianswall_hadrianswall.tpl), and to HTML elements you create dynamically
    (in hadrianswall.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }



*/

#x {
    display: inline-block;
    position: relative;
}

#playerboard1 {
    display: inline-block;
    width: 740px;
    height: 257px;
    margin-top: 140px;
    margin-bottom: 2px;
    background-image: url('img/PlayerBoard.jpg');
    border: 2px solid black;
    position: relative;
}

#playerboard2 {
    display: inline-block;
    width: 740px;
    height: 257px;    
    margin-top: 140px;
    margin-bottom: 2px;
    background-position-x: 740px;
    background-image: url('img/PlayerBoard.jpg');
    border: 2px solid black;
    position: relative;
}

#sheet1 {
    display: inline-block;
    width: 740px;
    height: 740px;
    background-color: aqua;
    background-image: url('img/Sheet1.jpg');
    border: 2px solid black;
    position: relative;
}
#sheet2 {
    display: inline-block;
    width: 740px;
    height: 740px;
    background-color: aquamarine;
    background-image: url('img/Sheet2.jpg');
    border: 2px solid black;
    position: relative;
}

.scratch {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('img/Scratch.png');
    position: absolute;
}

.playercardsheet {
    width: 221px;
    height: 352px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: url('img/PlayerCardSheet.jpg');
    
}

.player_back_1 { background-position:     0px 0px; }
.player_back_2 { background-position:  -221px 0px; }
.player_back_3 { background-position:  -442px 0px; }
.player_back_4 { background-position:  -663px 0px; }
.player_back_5 { background-position:  -884px 0px; }
.player_back_6 { background-position: -1105px 0px; }

.player_card_1 { background-position:      0px -352px; }
.player_card_2 { background-position:      0px -704px; }
.player_card_3 { background-position:   -221px -352px; }
.player_card_4 { background-position:   -221px -704px; }
.player_card_5 { background-position:   -442px -352px; }
.player_card_6 { background-position:   -442px -704px; }
.player_card_7 { background-position:   -663px -352px; }
.player_card_8 { background-position:   -663px -704px; }
.player_card_9 { background-position:   -884px -352px; }
.player_card_10 { background-position:  -884px -704px; }
.player_card_11 { background-position: -1105px -352px; }
.player_card_12 { background-position: -1105px -704px; }

.goal { top: -135px; z-index: -1; position: absolute; }
.goal_round_1 { left: 20px; }
.goal_round_2 { left: 263px; }
.goal_round_3 { left: 507px; }
.goal_round_4 { left: 11px; }
.goal_round_5 { left: 255px; }
.goal_round_6 { left: 499px; }

.playercardbottomsheet {
    width: 221px;
    height: 215px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: url('img/PlayerCardSheet.jpg');    
}

.player_cardbottom_1 { background-position:      0px -489px; }
.player_cardbottom_2 { background-position:      0px -841px; }
.player_cardbottom_3 { background-position:   -221px -489px; }
.player_cardbottom_4 { background-position:   -221px -841px; }
.player_cardbottom_5 { background-position:   -442px -489px; }
.player_cardbottom_6 { background-position:   -442px -841px; }
.player_cardbottom_7 { background-position:   -663px -489px; }
.player_cardbottom_8 { background-position:   -663px -841px; }
.player_cardbottom_9 { background-position:   -884px -489px; }
.player_cardbottom_10 { background-position:  -884px -841px; }
.player_cardbottom_11 { background-position: -1105px -489px; }
.player_cardbottom_12 { background-position: -1105px -841px; }

.pick { top: 40px; scale: 0.6; position: absolute; }
.pick_round_1 { left:  10px; }
.pick_round_2 { left: 253px; }
.pick_round_3 { left: 497px; }
.pick_round_4 { left:  11px; }
.pick_round_5 { left: 255px; }
.pick_round_6 { left: 499px; }

.op_pick { top: 100px; scale: 0.4; z-index: 1; position: absolute; }
.op_l_pick_round_1 { left: -40px; }
.op_l_pick_round_2 { left: 203px; }
.op_l_pick_round_3 { left: 447px; }
.op_l_pick_round_4 { left: -39px; }
.op_l_pick_round_5 { left: 205px; }
.op_l_pick_round_6 { left: 449px; }

.op_r_pick_round_1 { left:  60px; }
.op_r_pick_round_2 { left: 303px; }
.op_r_pick_round_3 { left: 547px; }
.op_r_pick_round_4 { left: 61px; }
.op_r_pick_round_5 { left: 305px; }
.op_r_pick_round_6 { left: 549px; }

.pictcardsheet {
    width: 221px;
    height: 352px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: url('img/PictCardSheet.jpg');   
}

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi)
{
    #sheet1 {
        background-size: 740px 740px;
        background-image: url('img/Sheet1@2x.jpg');
    }
    #sheet2 {
        background-size: 740px 740px;
        background-image: url('img/Sheet2@2x.jpg');
    }
    .pictcardsheet {
        background-size: 2652px 1408px;
        background-image: url('img/PictCardSheet@2x.jpg');
    }
    .playercardsheet {
        background-size: 1326px 1056px;
        background-image: url('img/PlayerCardSheet@2x.jpg');
    }
    .playercardbottomsheet {
        background-size: 1326px 1056px;
        background-image: url('img/PlayerCardSheet@2x.jpg');
    }
}


.pict_card_1 { background-position:      0px     0px;}
.pict_card_2 { background-position:   -221px     0px;}
.pict_card_3 { background-position:   -442px     0px;}
.pict_card_4 { background-position:   -663px     0px;}
.pict_card_5 { background-position:   -884px     0px;}
.pict_card_6 { background-position:  -1105px     0px;}
.pict_card_7 { background-position:  -1326px     0px;}
.pict_card_8 { background-position:  -1547px     0px;}
.pict_card_9 { background-position:  -1768px     0px;}
.pict_card_10 { background-position: -1989px     0px;}
.pict_card_11 { background-position: -2210px     0px;}
.pict_card_12 { background-position: -2431px     0px;}
.pict_card_13 { background-position:     0px  -352px;}
.pict_card_14 { background-position:  -221px  -352px;}
.pict_card_15 { background-position:  -442px  -352px;}
.pict_card_16 { background-position:  -663px  -352px;}
.pict_card_17 { background-position:  -884px  -352px;}
.pict_card_18 { background-position: -1105px  -352px;}
.pict_card_19 { background-position: -1326px  -352px;}
.pict_card_20 { background-position: -1547px  -352px;}
.pict_card_21 { background-position: -1768px  -352px;}
.pict_card_22 { background-position: -1989px  -352px;}
.pict_card_23 { background-position: -2210px  -352px;}
.pict_card_24 { background-position: -2431px  -352px;}
.pict_card_25 { background-position:     0px  -704px;}
.pict_card_26 { background-position:  -221px  -704px;}
.pict_card_27 { background-position:  -442px  -704px;}
.pict_card_28 { background-position:  -663px  -704px;}
.pict_card_29 { background-position:  -884px  -704px;}
.pict_card_30 { background-position: -1105px  -704px;}
.pict_card_31 { background-position: -1326px  -704px;}
.pict_card_32 { background-position: -1547px  -704px;}
.pict_card_33 { background-position: -1768px  -704px;}
.pict_card_34 { background-position: -1989px  -704px;}
.pict_card_35 { background-position: -2210px  -704px;}
.pict_card_36 { background-position: -2431px  -704px;}
.pict_card_37 { background-position:     0px -1056px;}
.pict_card_38 { background-position:  -221px -1056px;}
.pict_card_39 { background-position:  -442px -1056px;}
.pict_card_40 { background-position:  -663px -1056px;}
.pict_card_41 { background-position:  -884px -1056px;}
.pict_card_42 { background-position: -1105px -1056px;}
.pict_card_43 { background-position: -1326px -1056px;}
.pict_card_44 { background-position: -1547px -1056px;}
.pict_card_45 { background-position: -1768px -1056px;}
.pict_card_46 { background-position: -1989px -1056px;}
.pict_card_47 { background-position: -2210px -1056px;}
.pict_card_48 { background-position: -2431px -1056px;}

.hidden { display: none; }
/*.outlined { border: 1px solid red; opacity: 0.5; background-color: red;}*/
.outlined { border: 1px solid black; margin:0px; opacity: 1; background-color: #4444;}
.circle { border-radius: 50%; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
.roundNumber { font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center; border: 0px; };

.hex { /* doesn't seem to work */
    content: "\2B22";
    color: orange;
    font-size:135px;
  }

