/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * HadriansWall implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * hadrianswall.css
 *
 * HadriansWall stylesheet
 *
 */

/*
dojo.addClass
dojo.removeClass
dojo.hasClass
*/



#sheet1 {
    display: inline-block;
    width: 740px;
    height: 740px;
    background-color: aqua;
    background-image: url('img/Sheet1.jpg');
    border: 2px solid black;
    position: relative;
}
#sheet2 {
    display: inline-block;
    width: 740px;
    height: 740px;
    background-color: aquamarine;
    background-image: url('img/Sheet2.jpg');
    border: 2px solid black;
    position: relative;
}

#playerboard1 {
    display: inline-block;
    width: 740px;
    height: 257px;
    margin-top: 140px;
    margin-bottom: 2px;
    background-image: url('img/PlayerBoard.jpg');
    border: 2px solid black;
    position: relative;
}

#playerboard2 {
    display: inline-block;
    width: 740px;
    height: 257px;    
    margin-top: 140px;
    margin-bottom: 2px;
    background-position-x: 740px;
    background-image: url('img/PlayerBoard.jpg');
    border: 2px solid black;
    position: relative;
}

.playercardsheet {
    width: 221px;
    height: 352px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: url('img/PlayerCardSheet.jpg');   
}

.playercardbottomsheet {
    width: 221px;
    height: 215px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: url('img/PlayerCardSheet.jpg');    
}

.fatecardsheet {
    width: 221px;
    height: 352px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: url('img/PictCardSheet.jpg');   
}

.iconsheet {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    background-image: url('img/IconSheet.png');
}


/* */
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi)
{
    #sheet1 {
        background-size: 740px 740px;
        background-image: url('img/Sheet1@2x.jpg');
    }
    #sheet2 {
        background-size: 740px 740px;
        background-image: url('img/Sheet2@2x.jpg');
    }
    .fatecardsheet {
        background-size: 2652px 1408px;
        background-image: url('img/PictCardSheet@2x.jpg');
    }
    .playercardsheet {
        background-size: 1326px 1056px;
        background-image: url('img/PlayerCardSheet@2x.jpg');
    }
    .playercardbottomsheet {
        background-size: 1326px 1056px;
        background-image: url('img/PlayerCardSheet@2x.jpg');
    }
    .iconsheet {
        background-size: 280px 175px;
        background-image: url('img/IconSheet@2x.png');
    }
}
/* */


.scratch {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('img/Scratch.png');
    position: absolute;
}

/* For showing a drawn fate card */

#fate {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 80px;
    left: 250px;
    background-color: #ffcc7777;
    border: 2px black solid;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 10px rgb(42, 126, 182);
    /* box-shadow: 0px 0px 10px 10px burlywood; */
}

#fate_cover_gladiator {
    position: absolute;
    left: 0%;
    top: 20%;
    width: 50%;
    height: 20%;
    border-radius: 0px 0px 0px 0px;
    background-color: #00000066;
}

#fate_cover_trade_good {
    position: absolute;
    left: 50%;
    top: 20%;
    width: 50%;
    height: 20%;
    border-radius: 0px 0px 0px 0px;
    background-color: #00000066;
}

#fate_cover_attack {
    position: absolute;
    width: 100%;
    height: 20%;
    border-radius: 12px 12px 0px 0px;
    background-color: #00000066;
}

#fate_cover_resources {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 60%;
    border-radius: 0px 0px 12px 12px;
    background-color: #00000066;
}


/* Production generated by sheet1 */
#production {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 300px;
    left: 20px;
    height: 35px;
    padding: 5px;
    background-color: #ffffffcc;
    border: 2px black solid;
    border-radius: 6px;    
    box-shadow: 0px 0px 10px 10px rgb(42, 126, 182);
}

/* Hand and player cards */

#hand {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 560px;
    height: 400px;
    background-color: #5599cc;
    border: 2px black solid;
    border-radius: 20px;
}

.card_in_hand {
    margin: auto;   
}

/* Pict Attack cards */

#attack {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 60px;
    left: 90px;
    width: 650px;
    height: 400px;
    background-color: #ff000077;
    border: 2px black solid;
    border-radius: 20px;
    overflow: hidden;
}

#attack_column {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    background-color: #00ff0077;
    border: 2px red solid;    
}

.attack_first_card {
    scale: 0.7;
    margin-top: -30px;
}

.attack_card {
    scale: 0.7;
    margin-top: -320px;
}

/* Player card sprites */

.player_card_1 { background-position:      0px -352px; }
.player_card_2 { background-position:      0px -704px; }
.player_card_3 { background-position:   -221px -352px; }
.player_card_4 { background-position:   -221px -704px; }
.player_card_5 { background-position:   -442px -352px; }
.player_card_6 { background-position:   -442px -704px; }
.player_card_7 { background-position:   -663px -352px; }
.player_card_8 { background-position:   -663px -704px; }
.player_card_9 { background-position:   -884px -352px; }
.player_card_10 { background-position:  -884px -704px; }
.player_card_11 { background-position: -1105px -352px; }
.player_card_12 { background-position: -1105px -704px; }

.player_cardbottom_1 { background-position:      0px -489px; }
.player_cardbottom_2 { background-position:      0px -841px; }
.player_cardbottom_3 { background-position:   -221px -489px; }
.player_cardbottom_4 { background-position:   -221px -841px; }
.player_cardbottom_5 { background-position:   -442px -489px; }
.player_cardbottom_6 { background-position:   -442px -841px; }
.player_cardbottom_7 { background-position:   -663px -489px; }
.player_cardbottom_8 { background-position:   -663px -841px; }
.player_cardbottom_9 { background-position:   -884px -489px; }
.player_cardbottom_10 { background-position:  -884px -841px; }
.player_cardbottom_11 { background-position: -1105px -489px; }
.player_cardbottom_12 { background-position: -1105px -841px; }


/* Player side pannels */

.player_back_306x68d { background-position:     0px -40px; }
.player_back_6fax254 { background-position:  -221px -40px; }
.player_back_b02x325 { background-position:  -442px -80px; }
.player_back_df7xf3a { background-position:  -663px -40px; }
.player_back_e8bx73e { background-position:  -884px -80px; }
.player_back_3c3x939 { background-position: -1105px -40px; }

.player_back_0000cc { background-position:     0px -40px; }
.player_back_00cc00 { background-position:  -221px -40px; }
/* .player_back_b02x325 { background-position:  -442px -80px; }
.player_back_df7xf3a { background-position:  -663px -40px; }
.player_back_e8bx73e { background-position:  -884px -80px; }
.player_back_3c3x939 { background-position: -1105px -40px; } */



.card_banner_only { 
    display: inline-block; 
    height: 70px; 
    margin: -20px; 
    margin-left:-73px; 
    scale: 0.33; 
    z-index: 1; 
    position: relative; 
}

.card_top_only { 
    display: inline-block; 
    height: 128px; 
    margin: -31px; 
    margin-left:-53px; 
    scale: 0.5; 
    z-index: 1; 
    position: relative; 
    
}

.pboard_space {
	position: relative;
    width: 100%;
    min-width: 1076px;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.miniboard {
	margin-top: 5px;
	margin-left: 3px;
	vertical-align: top;
	display: inline-block;
}

.resourceboard {
	margin-top: 5px;
	margin-left: 3px;
    width: 230px;
    height: 233px;
    border-radius: 5px;
	vertical-align: top;
	display: inline-block;
}

#scoresheet {
    width: 230px;
    height: 102px;
    border-radius: 5px;
    background-size: 220px 143px;
}

.attribute_backing {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.attribute_score {
    position: absolute;
    top: 10px;
    left: 35px;
    display: inline;
    font-size: 12pt;
    font-weight: 200;
    color: #444;
    margin-left: -8px;
    margin-top: -5px;
}


/* Player board - if I use them */

.goal { top: -135px; z-index: -1; position: absolute; }
.goal_round_1 { left: 20px; }
.goal_round_2 { left: 263px; }
.goal_round_3 { left: 507px; }
.goal_round_4 { left: 11px; }
.goal_round_5 { left: 255px; }
.goal_round_6 { left: 499px; }

.pick { top: 40px; scale: 0.6; position: absolute; }
.pick_round_1 { left:  10px; }
.pick_round_2 { left: 253px; }
.pick_round_3 { left: 497px; }
.pick_round_4 { left:  11px; }
.pick_round_5 { left: 255px; }
.pick_round_6 { left: 499px; }

.op_pick { top: 100px; scale: 0.4; z-index: 1; position: absolute; }
.op_l_pick_round_1 { left: -40px; }
.op_l_pick_round_2 { left: 203px; }
.op_l_pick_round_3 { left: 447px; }
.op_l_pick_round_4 { left: -39px; }
.op_l_pick_round_5 { left: 205px; }
.op_l_pick_round_6 { left: 449px; }

.op_r_pick_round_1 { left:  60px; }
.op_r_pick_round_2 { left: 303px; }
.op_r_pick_round_3 { left: 547px; }
.op_r_pick_round_4 { left: 61px; }
.op_r_pick_round_5 { left: 305px; }
.op_r_pick_round_6 { left: 549px; }

/* Pict Card sprites */

.fate_card_1 { background-position:      0px     0px;}
.fate_card_2 { background-position:   -221px     0px;}
.fate_card_3 { background-position:   -442px     0px;}
.fate_card_4 { background-position:   -663px     0px;}
.fate_card_5 { background-position:   -884px     0px;}
.fate_card_6 { background-position:  -1105px     0px;}
.fate_card_7 { background-position:  -1326px     0px;}
.fate_card_8 { background-position:  -1547px     0px;}
.fate_card_9 { background-position:  -1768px     0px;}
.fate_card_10 { background-position: -1989px     0px;}
.fate_card_11 { background-position: -2210px     0px;}
.fate_card_12 { background-position: -2431px     0px;}
.fate_card_13 { background-position:     0px  -352px;}
.fate_card_14 { background-position:  -221px  -352px;}
.fate_card_15 { background-position:  -442px  -352px;}
.fate_card_16 { background-position:  -663px  -352px;}
.fate_card_17 { background-position:  -884px  -352px;}
.fate_card_18 { background-position: -1105px  -352px;}
.fate_card_19 { background-position: -1326px  -352px;}
.fate_card_20 { background-position: -1547px  -352px;}
.fate_card_21 { background-position: -1768px  -352px;}
.fate_card_22 { background-position: -1989px  -352px;}
.fate_card_23 { background-position: -2210px  -352px;}
.fate_card_24 { background-position: -2431px  -352px;}
.fate_card_25 { background-position:     0px  -704px;}
.fate_card_26 { background-position:  -221px  -704px;}
.fate_card_27 { background-position:  -442px  -704px;}
.fate_card_28 { background-position:  -663px  -704px;}
.fate_card_29 { background-position:  -884px  -704px;}
.fate_card_30 { background-position: -1105px  -704px;}
.fate_card_31 { background-position: -1326px  -704px;}
.fate_card_32 { background-position: -1547px  -704px;}
.fate_card_33 { background-position: -1768px  -704px;}
.fate_card_34 { background-position: -1989px  -704px;}
.fate_card_35 { background-position: -2210px  -704px;}
.fate_card_36 { background-position: -2431px  -704px;}
.fate_card_37 { background-position:     0px -1056px;}
.fate_card_38 { background-position:  -221px -1056px;}
.fate_card_39 { background-position:  -442px -1056px;}
.fate_card_40 { background-position:  -663px -1056px;}
.fate_card_41 { background-position:  -884px -1056px;}
.fate_card_42 { background-position: -1105px -1056px;}
.fate_card_43 { background-position: -1326px -1056px;}
.fate_card_44 { background-position: -1547px -1056px;}
.fate_card_45 { background-position: -1768px -1056px;}
.fate_card_46 { background-position: -1989px -1056px;}
.fate_card_47 { background-position: -2210px -1056px;}
.fate_card_48 { background-position: -2431px -1056px;}

/* Icon sprites */

.icon_round    { background-position: -0px   -0px; }
.icon_flag     { background-position: -35px  -0px; }
.icon_soldier  { background-position: -70px  -0px; }
.icon_servant  { background-position: -105px -0px; }
.icon_builder  { background-position: -140px -0px; }
.icon_civilian { background-position: -175px -0px; }
.icon_brick    { background-position: -210px -0px; }
.icon_renown   { background-position: -245px -0px; }

.icon_banner_gray   { background-position: -0px   -35px; }
.icon_banner_green  { background-position: -35px  -35px; }
.icon_banner_yellow { background-position: -70px  -35px; }
.icon_banner_red    { background-position: -105px -35px; }
.icon_drape_gray    { background-position: -140px -35px; }
.icon_drape_green   { background-position: -175px -35px; }
.icon_drape_yellow  { background-position: -210px -35px; }
.icon_drape_red     { background-position: -245px -35px; }

.icon_valour     { background-position: -0px   -70px; }
.icon_piety      { background-position: -35px  -70px; }
.icon_discipline { background-position: -70px  -70px; }
.icon_trader     { background-position: -105px -70px; }
.icon_performer  { background-position: -140px -70px; }
.icon_priest     { background-position: -175px -70px; }
.icon_apparitor  { background-position: -210px -70px; }
.icon_patrician  { background-position: -245px -70px; }

.icon_favor      { background-position: -0px   -105px; }
.icon_thumb_down { background-position: -35px  -105px; }
.icon_thumb_up   { background-position: -70px  -105px; }
.icon_cohort     { background-position: -105px -105px; }
.icon_sword      { background-position: -140px -105px; }
.icon_production { background-position: -175px -105px; }
.icon_scout      { background-position: -210px -105px; }
.icon_trade_good { background-position: -245px -105px; }

.icon_check_x     { background-position: -0px   -140px; }
.icon_check_mark  { background-position: -35px  -140px; }
.icon_glad_purple { background-position: -70px  -140px; }
.icon_glad_blue   { background-position: -105px -140px; }
.icon_glad_red    { background-position: -140px -140px; }
.icon_diff_left   { background-position: -175px -140px; }
.icon_diff_right  { background-position: -210px -140px; }
.icon_path_cards  { background-position: -245px -140px; }

.miniicon {
    scale: 0.7;
    margin: -5px;
}

.microicon {
    scale: 0.5;
    margin: -10px;
}

/* Utility styles */

.hidden { display: none; }
.forcehidden { display: none !important; }

/* Scratch area styles */

.rect {
    background-color: #7777;
    margin:0px; 
}
.outlined { 
    border: 1px solid black; 
    opacity: 1; 
    border-color: #7777;
}
.circle { 
    border-radius: 50%; 
    -webkit-background-clip: padding-box; 
    -moz-background-clip: padding; 
    background-clip: padding-box; 
}
.roundNumber { 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-align: center; 
    border: 0px; 
}
.valid { 
    border: 2px solid yellow; 
    opacity: 1; 
    margin-left: -1px;
    margin-top: -1px;
    background-color: #0000;
    border-color: #ff0;
}

/* Sheet 2 Trade */
#trade_options {
    position: absolute;
    background-color: #ffffff44;
    border: 2px solid black;
    border-radius: 5px;
    left: 195px;
    top: 95px;
    width: 160px;
    height: 40px;
    font-weight: bold;
    font-size: 22px;
    -webkit-text-stroke: 1px white;
    color: black;
}

#trade_left {
    position: absolute;
    left: 5px;
}

#trade_fate {
    position: absolute;
    left: 63px;
}

#trade_right{
    position: absolute;
    left: 120px;
}

/* Sheet 2 Scout */
#scout_options {
    position: absolute;
    background-color: #ffffff44;
    border: 2px solid black;
    border-radius: 5px;
    left: 290px;
    top: 690px;
    width: 160px;
    height: 40px;
    font-weight: bold;
    font-size: 22px;
    -webkit-text-stroke: 1px white;
    color: black;
}

#scout_left {
    position: absolute;
    left: 5px;
}

#scout_fate {
    position: absolute;
    left: 63px;
}

#scout_right{
    position: absolute;
    left: 120px;
}

